bin

*.class
*.ear
*.jar
*.war
*.iml
.classpath
.mtj.tmp/
.project
.settings
.DS_Store
Collector/logs
MANIFEST.MF
bin
hs_err_pid*
pom.properties
.classpath
MANIFEST.MF
surefire-reports
maven-compiler-plugin
target
org.eclipse.wst.common.component
.settings
maven-compiler-plugin
org.eclipse.wst.common.component
pom.properties
surefire-reports
target
*/.idea/**
.DS_Store
dev_install/collector_data
dev_install/docker-compose.yml
*/out/**
*.pyc
*/test-output/*
Collector/system_properties.json
Collector/system_properties_prod.json
