*.class
*.ear
*.jar
*.war
.classpath
.mtj.tmp/
.project
.settings
Collector/logs
MANIFEST.MF
bin
hs_err_pid*
maven-compiler-plugin
org.eclipse.wst.common.component
pom.properties
surefire-reports
target
*/test-output/*

.DS_Store
